
@font-face {
    font-family: 'SANGJUGyeongcheonIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.Banner{
    font-size: 80px;
    color: #1a237e;
    font-family: 'SANGJUGyeongcheonIsland';
}

.Info{
    display: flex;
    flex-direction: row;
}

.InfoInput{
    display: flex;
    flex-direction: column;
}

.InfoInput input{
    width: 350px;
    height: 40px;
    background-color: white;
    color: gray;
    opacity: 0.7;
    font-family: 'SANGJUGyeongcheonIsland';
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px gray inset;
    margin-bottom: 10px;
}

.InfoButton{
    margin-left: 20px;
}

.InfoButton button{
    background-color: #8c9eff;
    width: 100px;
    height: 90px;
    font-family: 'SANGJUGyeongcheonIsland';
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px gray;
    font-size: 25px;
}